<h1>All sightings for a species</h1>

<h2><%= @kind.name %></h2>
<ul><% @kind.sightings.each do |sighting| %>
  <li>Date: <%= sighting.date %>, Latitude: <%= sighting.latitude %>, Longitude: <%= sighting.longitude %>, Region:<%= Region.find(@kind.sightings.last.region_id).name %></li> <p><a href="/kinds/<%= @kind.id %>/sightings/<%= sighting.id %>/edit">Edit sighting</a><p><a href="/kinds/<%= @kind.id %>/sightings/<%= sighting.id %>"
      data-confirm="You sure?"
      data-method="delete"
      rel="nofollow">Delete</a></p>
  <% end %>
</ul>

<p><a href="/kinds/<%= @kind.id %>/sightings/new">Add sighting</a></p>
<p><a href="/kinds/<%= @kind.id %>/edit">Edit the species</a></p>
<p><a href="/kinds/<%= @kind.id %>"
      data-confirm="You sure?"
      data-method="delete"
      rel="nofollow">Delete</a></p>

<p><a href="/kinds">Return to species listing</a></p>
