<h1>A sighting for <%= @sighting.kind.name %></h1>

<% if @sighting.errors.any? %>
  <h3>Please fix these errors:</h3>
  <ul>
    <% @sighting.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<form action="/kinds/<%= @sighting.kind.id %>/sightings" method="post">
  <label for="sighting_date">Sighting date</label>
  <input id="sighting_date" name="date" type="date" value="<%= @sighting.date %>">
  <label for="sighting_latitude">Sighting latitude</label>
  <input id="sighting_latitude" name="latitude" type="float" value="<%= @sighting.latitude %>">
  <label for="sighting_longitude">Sighting longitude</label>
  <input id="sighting_longitude" name="longitude" type="float" value="<%= @sighting.longitude %>">

  <button>Add sighting</button>
</form>
