<h1>All sightings for dates <%= @start_date %> to <%= @end_date %></h1>
<ul><% @sightings.each do |sighting| %></ul>
<li>Latitude: <%= sighting.latitude %>, Longitude: <%= sighting.longitude %>, Region:<%= sighting.region.name %></li>
<% end %>
